// общие стили на body...
body {
  height: 100vh;
  background-color: var(--light-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
  overflow-x: hidden;
  flex-flow: column;
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.text {
  color: var(--secondary-color);
}

main {
  flex-grow: 3;
}
